<h1>Listing parms</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Val</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parms.each do |parm| %>
  <tr>
    <td><%= parm.title %></td>
    <td><%= parm.val %></td>
    <td><%= link_to 'Show', parm %></td>
    <td><%= link_to 'Edit', edit_parm_path(parm) %></td>
    <td><%= link_to 'Destroy', parm, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parm', new_parm_path %>
