<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @parm.title %>
</p>

<p>
  <b>Val:</b>
  <%= @parm.val %>
</p>


<%= link_to 'Edit', edit_parm_path(@parm) %> |
<%= link_to 'Back', parms_path %>
