<%= form_for(@speciman) do |f| %>
  <% if @speciman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speciman.errors.count, "error") %> prohibited this speciman from being saved:</h2>

      <ul>
      <% @speciman.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, (t 'specimen.title') %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :priord, (t 'specimen.priord') %><br />
    <%= f.text_field :priord %>
  </div>
  <div class="actions">
    <%= f.submit :value => (t 'specimen.save') %>
  </div>
<% end %>
