<h1>Listing prms</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Pval</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prms.each do |prm| %>
  <tr>
    <td><%= prm.title %></td>
    <td><%= prm.pval %></td>
    <td><%= link_to 'Show', prm %></td>
    <td><%= link_to 'Edit', edit_prm_path(prm) %></td>
    <td><%= link_to 'Destroy', prm, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prm', new_prm_path %>
