<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @prm.title %>
</p>

<p>
  <b>Pval:</b>
  <%= @prm.pval %>
</p>


<%= link_to 'Edit', edit_prm_path(@prm) %> |
<%= link_to 'Back', prms_path %>
