<table class='show'>
<tr>
  <td class='ri'><%= t 'specimen.title' %>:</td>
  <td class='nc'><%= @shipment.speciman.title %></td>
</tr>

<tr>
  <td class='ri'><%= t 'shipments.batch_number' %>:</td>
  <td class='nc'><%= @shipment.batch_number %></td>
</tr>

<tr>
  <td class='ri'><%= t 'shipments.check_number' %>:</td>
  <td class='nc'><%= @shipment.check_number %></td>
</tr>

<tr>
  <td class='ri'><%= t 'shipments.manufdt' %>:</td>
  <td class='nc'><%= @shipment.manufdt %></td>
</tr>

<tr>
  <td class='ri'><%= t 'shipments.releasedt' %>:</td>
  <td class='nc'><%= @shipment.releasedt %></td>
</tr>

<tr>
  <td class='ri'><%= t 'shipments.expiredt' %>:</td>
  <td class='nc'><%= @shipment.expiredt %></td>
</tr>
</table>
